.c3 .c3-axis path, .c3 .c3-axis line {
	stroke: #aaaaaa;
}
.c3 .c3-axis text {
	fill: #999999;
}
.c3-axis-y .tick {
	color: #aaaaaa;
}

div.dinomi-monitor-chart
{
    display: inline;
}
div#dinomi-monitor-error
{
    text-align:center;
}
