[Unit]
Description=DINOMI Dashboard Monitor
After=httpd.service network.target remote-fs.target nss-lookup.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=apache
Group=apache
Restart=always
RestartSec=5

ExecStart=/usr/bin/node /usr/lib/node_modules/dinomi-monitor/dashmon_index.js

PrivateTmp=true

[Install]
WantedBy=multi-user.target